extends layout

block content

    body
        .navbar.navbar-default.navbar-fixed-top(role='navigation')
            .container
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/greetingadmin') Coding House
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='/userlist') Account Management

                    li.dropdown.one
                        a.dropdown-toggle.index.one(data-toggle='dropdown')
                            | Assignments
                            span.caret
                        ul.dropdown-menu.index.one(role='menu')
                            li
                                a(href='/ph1sp1admin') Phase 1
                            li
                                a(href='/ph2sp1admin') Phase 2
                    li.dropdown.two
                        a.dropdown-toggle.index.two(data-toggle='dropdown')
                            | Restaurants
                            span.caret
                        ul.dropdown-menu.index.two(role='menu')
                            li
                                a(href='/neworder') New Order
                            li
                                a(href='/orderhistory') Order History
                            li
                                a(href='/newrestaurant') Add New Restaurant
        script(type='text/javascript').
            $(document).ready(function() {
                $(".dropdown-toggle.index.one").mouseenter(function(){
                    $(".dropdown-menu.index.one").slideDown(600);
                });

                $("li.dropdown.one").mouseleave(function(){
                    $(".dropdown-menu.index.one").slideUp(600);
                });
                $(".dropdown-toggle.index.two").mouseenter(function(){
                    $(".dropdown-menu.index.two").slideDown(600);
                });

                $("li.dropdown.two").mouseleave(function(){
                    $(".dropdown-menu.index.two").slideUp(600);
                });
            });

        .col-sm-6
        each rest, i in restlist[highestVote].restaurantitem
            li #{rest.item}

            //if i != highestVote
            //    div(style="height:20px;")
            //        input(type='radio', name='checkedRestaurant', value='#{rest.restaurant}')
            //        |       #{rest.restaurantitem[i].item}
            br

        form#formmenuItemSubmit(name="submitteditem",method="post",action="/NewItemForCurrentOrderAdmin")
            input(type='text', class='selecteditem commentOrder', name='selecteditem', value='')
            input(type="text", class="form-control commentOrder", name='specialRequest', id="userComments" ,placeholder="Special Request")
            input(type="hidden", name="highestVote", value="#{highestVote}")
            - var restphone = restlist[highestVote]
            input(type="hidden", name="restphone", value="#{restphone.phonenumber[0]}")
            button(type='submit', id='submititembtn') submit2

        script.
                $(document).ready(function(){
                var selectedItem = '';
                $('li').on('click', function() {
                selectedItem = $(this).text();
                $('.selecteditem').val(selectedItem);
                });
                });